@model IEnumerable<MentalHealthApp.Models.MoodType>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table table-bordered table-hover table-striped">
    <thead class="table accordion-header">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Actions</th>
         
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td>

                    <a asp-action="Edit" asp-route-id="@item.MoodTypeId" class="btn btn-warning btn-sm">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MoodTypeId" class="btn btn-info btn-sm">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MoodTypeId" class="btn btn-danger btn-sm">Scrap Note</a>
                </td>
        </tr>
}
    </tbody>
</table>
