@model IEnumerable<MentalHealthApp.Models.Therapist>

@{
    ViewData["Title"] = "Therapists";

}

<h2>Therapists</h2>

@if (User.IsInRole("Admin"))// Admin action Drop Down
                {

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Therapist</a>
</p>
                }

<table class="table table-striped">
    <thead>
        <tr>
            <th>Image</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Specialization</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var therapist in Model)
        {
            <tr>
                <td>
                    <img src="~/img/@(string.IsNullOrEmpty(therapist.ImageFileName) ? "default-therapist.jpg" : therapist.ImageFileName)"
                         alt="Therapist Image"
                         style="height:50px;" />


                </td>
                <td>@therapist.FirstName</td>
                <td>@therapist.LastName</td>
                <td>@therapist.Specialization</td>
                <td>@therapist.Email</td>
                <td>@therapist.PhoneNumber</td>

                @if (User.IsInRole("Admin"))// Admin action Drop Down
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@therapist.TherapistId">Details</a> |
                    <a asp-action="Edit" asp-route-id="@therapist.TherapistId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@therapist.TherapistId">Delete</a>
                    
                </td>
                }
            </tr>
        }
    </tbody>
</table>