@model IEnumerable<MentalHealthApp.Models.MoodEntry>

@{
    ViewData["Title"] = "Index";
}



<h1 style="text-align: center; color:#6b44b3" class="tracking-in-expand">Your Mood Entries</h1>

<div class="container">
    <!--Creation button-->
    <a asp-controller="MoodEntries" asp-action="Create"
       class="btn-success"
       style="border-radius: 100%; background-color: #6b44b3; font-size: 90px;
           display: flex; justify-content: center; align-items: center;
           width: 120px; height: 120px; border: none; text-decoration: none; color: white;">
        +
    </a>
</div>
<hr />

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                Patient Name
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Mood.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.FirstName) <!-- Changed from PatientId -->
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Scrap Note</a>
                </td>
            </tr>
        }
    </tbody>
</table>



<style>

    .tracking-in-expand {
        -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        animation: tracking-in-expand 0.7s 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }



    @@-webkit-keyframes tracking-in-expand {
        0% {
            letter-spacing: -0.5em;
            opacity: 0;
        }

        40% {
            opacity: 0.6;
        }

        100% {
            opacity: 1;
        }
    }

    @@keyframes tracking-in-expand {
        0% {
            letter-spacing: -0.5em;
            opacity: 0;
        }

        40% {
            opacity: 0.6;
        }

        100% {
            opacity: 1;
        }
    }

</style>